
Math doer:

<form action="" method="">
	
	<fieldset style="position: relative; float: left;"><legend>Base Chance</legend>
		<input type="radio" name="base_chance[]" value="20" /> 20%<br/>
		<input type="radio" name="base_chance[]" value="25" /> 25%<br/>
		<input type="radio" name="base_chance[]" value="35" /> 35%<br/>
		<input type="radio" name="base_chance[]" value="40" selected="selected" /> 40%
	</fieldset>
	
	<fieldset style="position: relative; float: left;"><legend>Skill</legend>
		<fieldset style="position: relative; float: left;"><legend>Encryption</legend>
			<input type="radio" name="encryption[]" value="1" /> 1<br/>
			<input type="radio" name="encryption[]" value="2" /> 2<br/>
			<input type="radio" name="encryption[]" value="3" /> 3<br/>
			<input type="radio" name="encryption[]" value="4" /> 4<br/>
			<input type="radio" name="encryption[]" value="5" /> 5<br/>
		</fieldset>
		
		<fieldset style="position: relative; float: left;"><legend>Datacore 1</legend>
			<input type="radio" name="datacore_1[]" value="1" /> 1<br/>
			<input type="radio" name="datacore_1[]" value="2" /> 2<br/>
			<input type="radio" name="datacore_1[]" value="3" /> 3<br/>
			<input type="radio" name="datacore_1[]" value="4" /> 4<br/>
			<input type="radio" name="datacore_1[]" value="5" /> 5<br/>
		</fieldset>
		
		<fieldset style="position: relative; float: left;"><legend>Datacore 2</legend>
			<input type="radio" name="datacore_2[]" value="1" /> 1<br/>
			<input type="radio" name="datacore_2[]" value="2" /> 2<br/>
			<input type="radio" name="datacore_2[]" value="3" /> 3<br/>
			<input type="radio" name="datacore_2[]" value="4" /> 4<br/>
			<input type="radio" name="datacore_2[]" value="5" /> 5<br/>
		</fieldset>
	</fieldset>
	
	<fieldset style="position: relative; float: left;"><legend>Base Item Meta</legend>
		<input type="radio" name="base_item[]" value="0" /> None<br/>
		<input type="radio" name="base_item[]" value="0" /> 0<br/>
		<input type="radio" name="base_item[]" value="1" /> 1<br/>
		<input type="radio" name="base_item[]" value="2" /> 2<br/>
		<input type="radio" name="base_item[]" value="3" /> 3<br/>
		<input type="radio" name="base_item[]" value="4" /> 4
	</fieldset>
	
	<fieldset style="position: relative; float: left;"><legend>Decryptor</legend>
		<input type="radio" name="base_item[]" value="0" /> None<br/>
		<input type="radio" name="base_item[]" value="0.6" /> 0.6<br/>
		<input type="radio" name="base_item[]" value="1" /> 1<br/>
		<input type="radio" name="base_item[]" value="1.1" /> 1.1<br/>
		<input type="radio" name="base_item[]" value="1.2" /> 1.2<br/>
		<input type="radio" name="base_item[]" value="1.8" /> 1.8
	</fieldset>
	
</form>