<table border="1" cellpadding="2" cellspacing="1" class="table">
	<tbody>
		<tr>
			<td>Agent Division</td>

			<td>Kill</td>
			<td>Courier</td>
			<td>Trade</td>
			<td>Mining</td>
		</tr>
		<tr>
			<td>Accounting</td>

			<td>&nbsp;</td>
			<td>88%</td>
			<td>12%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Administration</td>

			<td>47%</td>
			<td>47%</td>
			<td>6%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Advisory</td>

			<td>14%</td>
			<td>58%</td>
			<td>14%</td>
			<td>14%</td>
		</tr>
		<tr>
			<td>Archives</td>

			<td>&nbsp;</td>
			<td>92%</td>
			<td>8%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Astrosurveying</td>

			<td>13%</td>
			<td>25%</td>
			<td>13%</td>
			<td>50%</td>
		</tr>
		<tr>
			<td>Command</td>

			<td>88%</td>
			<td>6%</td>
			<td>6%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Distribution</td>

			<td>5%</td>
			<td>85%</td>
			<td>5%</td>
			<td>5%</td>
		</tr>
		<tr>
			<td>Financial</td>

			<td>12%</td>
			<td>70%</td>
			<td>18%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Intelligence</td>

			<td>74%</td>
			<td>21%</td>
			<td>5%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Internal Security</td>

			<td>100%</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Legal</td>
			<td>67%</td>

			<td>27%</td>
			<td>6%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Manufacturing</td>
			<td>&nbsp;</td>

			<td>48%</td>
			<td>4%</td>
			<td>48%</td>
		</tr>
		<tr>
			<td>Marketing</td>
			<td>17%</td>

			<td>77%</td>
			<td>6%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Mining</td>
			<td>&nbsp;</td>

			<td>10%</td>
			<td>5%</td>
			<td>85%</td>
		</tr>
		<tr>
			<td>Personnel</td>
			<td>28%</td>

			<td>66%</td>
			<td>6%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Production</td>
			<td>&nbsp;</td>

			<td>52%</td>
			<td>13%</td>
			<td>35%</td>
		</tr>
		<tr>
			<td>Public Relations</td>
			<td>28%</td>

			<td>66%</td>
			<td>6%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>R&amp;D</td>
			<td>&nbsp;</td>

			<td>50%</td>
			<td>50%</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Security</td>
			<td>94%</td>

			<td>6%</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Storage</td>
			<td>6%</td>

			<td>71%</td>
			<td>6%</td>
			<td>17%</td>
		</tr>
		<tr>
			<td>Surveillance</td>
			<td>84%</td>

			<td>11%</td>
			<td>5%</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
